.main_title {
  display: inline;
}

#instruction_box {
  clear: both;
  padding-top: 2%;
}

.game_board {
  position: relative;
  float: left;
  border-collapse: collapse;
  margin-top: 2%;
  width: 500px;
  height: 500px;
}

#player1_board {
 padding-left: 5%;
 float: left;
}

#player2_board { 
  float: left;
}

#message_board {
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

#message_title {
  text-align: center;
}

#message_area {
  text-align: left;
}

#messages {
  
}

.player1_name {
  text-align: center;
}

.player2_name {
  text-align: center;
}

.cell {
  border: 1px solid black;
}